<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/records">Twoje wyniki / Your results</a></li>
            <li><a href="/records/chart">Wykres / Chart</a></li>
            <li><a href="/records/new">Wprowadź odczyt glikemii / Register your readings</a></li>
        </ul>
    </nav>
</header>

<main>
    <h1>Error Occurred</h1>
    <p th:text="${message}">Error message</p>
</main>

<footer>
    <p>© 2024 GlucoProfile Application. All rights reserved.</p>
</footer>

</body>
</html>